.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

.users {
  //display: flex;
  //flex-direction: column;
  width: 100%;
  position: relative;
  border-collapse: collapse;
}

.users__filter {
  display: flex;
  justify-content: space-between;
}

.users__filter-options {
  //display: grid;
  //grid-template-rows: 1fr;
  //grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  //padding: 0;
}

.users__user-data {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  max-width: 1024px;
}

//.users__user-data {
//  display: flex;
//  width: 100%;
//  padding: 0;
//  justify-content: space-between;
//  max-width: 1024px;
//}

.users__user-information {
  list-style: none;
  cursor: pointer;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  margin: 0;
  padding: 5px;
}

.users__filter-options {
  list-style: none;
  //display: flex;
  max-width: 1024px;
  //justify-content: space-between;
}

.users__user-pop-up {
  position: absolute;
  bottom: -200px;
}

.pagination-controls {
  padding-top: 20px;
}

.pagination-button {
  cursor: pointer;
  font-size: 10px;
}