.users {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.users__user {
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: space-between;
  max-width: 1024px;
  position: relative;
}

.users__user-information {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.users__filter-options {
  list-style: none;
  display: flex;
  max-width: 1024px;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.users__user-pop-up {
  position: absolute;
  bottom: 0;
}