$desktopDevice: 1024px;
$largeDesktopDevice: 1440px;

$black: #000000;
$white: #fdfdfd;
$light-grey: #e1e3e5;
$grey: #d7d1ce;
$golden: #ffd532;
$golden-transparent: rgb(255, 213, 50, 0.6);

$deep-blue: #284277;
$blue: #006bbd;
$light-blue: #0d77d9;
